In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\IIT M\Interview_Prep\Project\music\spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Hank Williams,I've Been Down That Road Before,Now friends if you'll just listen to me \r\nY...
1,Pitbull,Blood Is Thicker Than Water,I know y'all listen to my music (red eyes) \r...
2,Usher,Foolin' Around,I know I vowed to never do this again but \r\...
3,Jennifer Lopez,Could This Be Love,If you only knew \r\nWhat I've been going thr...
4,Loretta Lynn,Once A Day,When you found somebody new I thought I never ...
5,Morrissey,No One Can Hold A Candle To You,Say farewell to your fair weathered friends \...
6,Elton John,It Ain't Gonna Be Easy,It ain't gonna be easy from now on \r\nYou've...
7,Pearl Jam,Alive,Son she said \r\nHave I got a little story fo...
8,Owl City,Shooting Star,"Close your tired eyes, relaxing them \r\nCoun..."
9,Townes Van Zandt,If I Was Washington,If I was Washington \r\nvalleys would I forge...

In [9]:
df['text'][0]

"Now friends if you'll just listen to me  \r\nYou'll get some good hard earned advice  \r\nI don't aim to meddle in your business  \r\nJust trying to save ya an awful price  \r\n  \r\nYou see these teeth that I ain't got  \r\nAnd these knots on my bald head  \r\nI'll guaranty you boys I didn't get um'  \r\nThere a lying home in bed  \r\n  \r\nNow take the smart-aleck in any town  \r\nOf him folks want no part  \r\nHe acts like his head was only  \r\nMade to hold his ears apart  \r\n  \r\nNow he might not like what  \r\nI'm bout to say and my words  \r\nMight make him sore  \r\nBut I'm just trying to be helpful  \r\nCause I been down that road before  \r\n  \r\nTo bully folks and play mean tricks  \r\nWas once my pride and joy  \r\nTill one day I was toted home  \r\nAnd mama didn't know her little boy  \r\n  \r\nMy head was swelled up so doggone big  \r\nI couldn't get it through my front door  \r\nNow I ain't talking just ta hear myself  \r\nI been down that road before  \r\n  \r\nA little fella about my size  \r\nGot tired of being pushed about  \r\nSo he went to work and when he got through  \r\nHe'd knocked everyone of my teeth out  \r\n  \r\nOne time to many I rubbed him wrong  \r\nAnd he even'd up the score  \r\nNow that's what happens when you  \r\nGet too big for your britches  \r\nI been down that road before  \r\n  \r\nNow when you get to thinking your really smart  \r\nThere's somebody smarter then you  \r\nAnd no matter how much you boast and brag  \r\nYou can still learn a thing or two  \r\n  \r\nGo get you some treatments just like I've had  \r\nAnd you wont hanker for more  \r\nI've really learned the meaning of living and loving  \r\nCause I've been down that road before  \r\n  \r\nNow the man that walks this rocky road  \r\nUsually gets just what he deserves  \r\n  \r\nBut he's just a helpless servant to  \r\nA master that he servers  \r\nNow I've learned to slow my temper down  \r\nAnd not to pick no scraps no more  \r\n  \r\nBoys its a lot easier on the head and the eyes  \r\nCause I've been down that road before.\r\n\r\n"

In [ ]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [14]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]

array([1.00000000e+00, 2.90940785e-03, 6.40822026e-03, ...,
       9.46010732e-03, 9.85752896e-04, 4.66742817e-02])

In [18]:
df[df['song'] == 'Crying Over You']

,artist,song,text
1211,ABBA,Crying Over You,i 'm waitin ' for you babi i 'm sit all alon i...

In [19]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [20]:
recommendation('Crying Over You')

['Anybody Wanna Party?',
 'Give Myself A Party',
 'Be Good Johnny',
 'Good Times',
 'Time',
 'Let The Good Times Roll',
 "Chastity's Song (Band Of Thieves)",
 'Confession',
 'Lonely As You',
 'One More Time',
 'Stay',
 'Times Like These',
 'Memory Of A Free Festival',
 'Good Time Feelin',
 "It's Nice To Be With You",
 'This Time',
 'Come On!',
 'Take The Time',
 'Bad Or Good',
 'Let The Good Times Roll']

In [21]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))